body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 20px;
    
}

.graph{
  position:relative;
  top:10%;
  left:10%;
  height: auto;
  width: 48vw;
  color:teal;
  font-weight: bold;
}

/*@media screen  and (min-width: 321px) and (max-width:960px) {
   .graph {
      height: auto;
      width: auto;
   }
}*/

@media screen and (max-width: 750px) {
  .graph {
   width: 100%;
   margin-left: inherit;
   height: 50vh; /* add this line */
   
   }
    .graph:nth-child(1) {
    margin-bottom: 20px; /* add some margin between the charts */
  }
 }
 .graph > div > canvas > text {
  font-weight: bold;
}